*{
    margin: 0;
}

body{
    color: #A9A9A9;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}


.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #F6F6F6;
}

.header__item1--facebook, .header__item1--youtube, .header__item1--phone, .header__item1--phone i{
    padding-right: 5px;
    margin-left: 10px;
    text-decoration: none;
}

.header__item1--phone{
    border-right: #A9A9A9 2px solid;
}

i{
    color: #A9A9A9;
}

.header__item1, .header__item2{
    margin: 20px;
}


.header__item2 ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
}

.header__item2--last{
    border-right: #A9A9A9 2px solid;
    margin-left: 35px;
}

.header__item2 ul li{
    margin-left: 35px;
    
}
.header__item2 ul li a {
    text-decoration: none;

}
.header__item2 ul li a:hover {
   color: #BB162B;
;
}


.secende-Navbar ul{
    list-style: none;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    margin: 0;
    color: black;
}
.secende-Navbar i{
    color:  #BB162B;
;
}

.secende-Navbar__img img{
    grid-column: 1/2;
    width: 300px;
}

.secende-Navbar__menu{
    grid-column: 2/9;
    display: flex;
    margin: auto;
}

.secende-Navbar__menu a{
    margin-left: 30px;
    text-decoration: none;
}
.secende-Navbar__menu a:hover{
    color: #BB162B;
}



.secende-Navbar__button{
    grid-column: 9/11;
    margin: auto;
 

   
    
}

.secende-Navbar__button a button{
    text-transform: uppercase;
    color: white;
    background-color: #BB162B;
    border-radius: 50px;
    border: none;
    padding: 10px;


}
.secende-Navbar__button a button:hover{

    color: #000000;
}



.spam{
   
    background-color: #BB162B;
    padding: 5px;
    color: white;
}

.spam a{
    margin-left: 12%;
 text-decoration: none;



}
.spam a:hover{
    color: #111111;

}
.spam i:hover {
    color: #111111;

}


.spam i {
    color: white;
}


.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}


.contenu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px;

}

.contenu .imgs{
    grid-column: 1/3;
}

.contenu__texts{
    color: black;
    display: grid;
    grid-template-rows: repeat(2);
    border: 1px solid black;
    max-width: 400px;
    margin-right: 100px;
}
.contenu__texts .first{
    grid-row: 1/2;
    background-color: #F6F6F6;
}
.contenu__texts .first .head div{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.contenu__texts .first .head div p{
    grid-column: 4/6;
    background-color: #BB162B;
    text-align: center;
    color: white;
}

.contenu__texts .first .head{
    margin-left: 10%;
}
.contenu__texts .first .head h2{
    font-weight: bold;
}

.contenu__texts .first .head p{
    color: #999999;
}

.contenu__texts .seconde .garantie{
    background-color: #BB162B;
    color: white;
    margin-top: -30px;
    text-align: center;
   
}

.contenu__texts .first .head2{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 10px;
    text-align: center;
}

.contenu__texts .first .head2 div{
    margin: 4px;
}

.contenu__texts .first .head2 div img{
    width: 15px;
}

.contenu__texts .seconde{
    margin-top: -30px;
    text-align: center;
}

.contenu__texts .seconde h1{
    color: #BB162B;
}
.contenu__texts .seconde h1 span{
    font-size: 10px;
}


.contenu__texts .seconde .part{
    color: #999999;
    font-size: 12px;
}

.contenu__texts .seconde p{
    font-weight: bold;
}

.contenu__texts .seconde button{
    font-weight: 100;
    width: 220px;
    margin: 2px;
    background-color: #BB162B;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 5px;
}


.contenu__texts .seconde button i{
    color: white;
    margin-right: 5px;
}


.contenu__texts .seconde .first_btn{
    background-color: #4C4C4C;
}

.contenu__texts .seconde .part_two{
    font-weight: 100;
    font-size: 10px;
margin-top: 10px;
color: #999999;
}



.contenu .w3-content .follow{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    
   
}

.contenu .w3-content .follow a {
    text-decoration: none;
}
.contenu .w3-content .follow a:hover{
    color: #BB162B;
}

.contenu .w3-content .follow .partager{
    grid-column: 4/6;
    margin-left: 200px;
}

.contenu .w3-content .follow div{
    width: 100%;
    margin: 8px;
}


.contenu .w3-content .follow .follow-button {
    background-color: #BB162B;
    color: white;
    padding-top: 5px;
    border-top-right-radius: 10px;
}
.contenu .w3-content .follow .follow-button:hover {
    color: #111111;
}

/* slide */

img {
    vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
    
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

/* avant cartes */
.varial{
    width: 830px;
    display: inline-block;
    margin: 10px 0 0 20px;
    
}
.varial .iva{
    /*width: 300px;
    height: 150px;
    background-color: #bd2525;*/
    padding: 10px;
}
.varial .iva p{
    font-size: 12pt;
    font-weight: bold;
    float: left;
    padding: 10px;
    color: #000;
}
.varial .iva button{
    float: right;
    background: #bd2525;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    font-size: 10pt;
    padding: 10px 15PX ;
}
.varial .iva .poo{
    margin: 40px 0 0 10px;
    height: 165px;
    display: flex;
}
.varial .iva .po{
    display: inline-block;
    margin: 5px;
}
.varial .iva .po img{
    width: 253px;
    height: 153px;
    border: 1px solid #868686;
    
}

.varial .text-9 h1{
    font-size: 12pt;
    font-weight: bold;
    padding: 15px 0 10px 20px;
    color: #000;
}
.varial .text-9 p{
    padding: 10px 25px 10px 20px;
    color: #8e8e8efa;
    font-family: calibri;
    font-size: 11pt;
}


.varial .ladi h1{
    font-size: 12pt;
    font-weight: bold;
    padding: 15px 0 10px 20px;
    margin: 1px;
    color: #000;
}
.varial .jmaa{
    border: 1px solid #cfcfcf;
    margin: 0 0 0 20px;
}
.varial .ladi h2{
    background-color: #BB162B;
    color: #fff;
    padding: 15px 0 15px 95px;
    font-size: 11pt;
    
}
.varial .oppo{
    margin: 15px 0 15px 25px;
}
.varial .oppo ul{
    height: 250px;
    list-style-type: none;
    padding: 10px 0 10px 15px;
    display: inline-block;
    font-size: 15px;
}
.varial .oppo ul li{
    padding: 10px;
    color: #888484;
}
.varial .oppo ul li i{
    color: #BB162B;
    padding: 0 10px 0 0;
}

.varial .orac h2{
    padding: 15px 0 15px 95px;
    font-size: 11pt;
    border-bottom: 1px solid #cfcfcf;
    border-left: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
    margin: 0 0 0 20px;
}

.varial .mons{
    height: 238px;
    background-color: #f6f6f6;
    margin: 40px 0 0 20px;
}
.varial .mons .title-99{
    float: left;
    width: 475px;

}
.varial .mons .title-99 h1{
    font-size: 12pt;
    font-weight: 750;
    padding: 40px 0 10px 20px;
    margin: 1px;
}
.varial .mons .title-99 p{
    color: #606f7db5;
    font-weight: 500;
    padding: 0px 0 10px 20px;
    line-height: 25px;
}
.varial .mons .title-88{
    float: right;
}
.varial .mons .fiat{
    padding: 10px 15px;
    margin: 17px 0 17px 5px;
    color: white;
    background: #c52c4d;
    outline: none;
    border: none;
    border-radius: 30px;
}
.varial .mons .banda{
    margin: 10px 0 0 15px;
}

.boob{ /* 22222222222222*/
    width: 380px;
    float: right;
    height: auto;
    padding: 10px;
    margin: 45px 70px 0 0;
    
}

.boob .mina{
    padding: 10px;
    background: #f6f6f6;
    width: 380px;
}
.boob .mina .pir{
    width: auto;
    height: 140px;
}
.boob .mina .une{
    float: left;
}
.boob .mina .une h1{
    font-size: medium;
    color: #4c4c4ce8;
    padding: 10px 0 0 15px;
}
.boob .mina .une h2 {
    padding: 0px 12px 0 15px;
    position: relative;
    z-index: 1;
    bottom: 12px;
    color: #c52c4d;
}
.boob .mina .une p{
    font-size: 11pt;
    color: #4c4c4ce8;
    padding: 5px 0 0 15px;
    width: 200px;
    line-height: 25px;
}
.boob .mina .ipa{
    font-size: 89px;
    float: right;
}
.boob .mina .ipa i{
    padding: 15px 0 0 40px;
    color: #5c5c5c;
    
}
.boob .mina .monaco{
    width: 250px;
    margin: 10px 0 12px 15px;
}
.boob .mina .monaco p{
    color: #4c4c4ce8;
    border: 1px solid #cfcfcf40;
    margin: 5px 0 5px 2px;
    padding: 5px;
    width: auto;
    display: inline-block;
}
.boob .mina input{
    padding: 9px 0 9px 10px;
    margin: 10px 0 10px 15px;
    width: 230px;
    position: relative;
    z-index: 1;
    left: 5px;
}
.boob .mina ::placeholder{
    font-size: 9pt;
}
.boob .mina button{
    color: #f6f6f6;
    background-color: #BB162B;
    outline: none;
    border: 1px solid #bb162b;
    padding: 10px;
    border-radius: 0 5px 5px 0;
}

.boob img{
    padding: 45px 0 0 0;
    width: 380px;
    height: 710px;
}

.boob .ira{
    padding: 10px;
    outline: none;
    background: #BB162B;
    color: #f6f6f6;
    width: 380px;
    border: none;
    position: relative;
    z-index: 1;
    bottom: 4px;
    font-size: 14pt;
    font-weight: 600;
}




/* cartes */
 .card-offre h1{
text-align: center;
color: #000;
padding-bottom: 0;
margin-bottom: 0
}
 .card-offre .line{

   border-bottom: 2px solid #BB162B;
   height: 8px;
   width: 10%;
   margin-left: 694px;
  
 }

 .card-offre__title{

    padding-bottom: 90px;
 }


    .card {
        
        max-width: 90%;   
        margin: auto;
    
        grid-template-columns: repeat(4, 1fr);
        gap: 60px;
        display:grid;
        text-align: center;
        font-family: arial;
        
  
    
}
.card span{
    color: #BB162B;
    font-weight: bold;
   max-width: 100px;
}
.card-offer1{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
background-color: #F6F6F6;
}
.card-offer1 p button{
   margin-top: 65px;
}
.card-offer2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #F6F6F6;
}
.card-offer3 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #F6F6F6;
}
.card-offer4 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #F6F6F6;
}

.price {
    color: rgb(0, 0, 0);
    font-size: 22px;
font-weight: bold;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
   margin-top:50px;
    color: white;
    background-color:#BB162B;
    text-align: center;
    cursor: pointer;
  
    font-size: 18px;
    border-radius: 100px;
    width: 200px;
}

.card button:hover {
    color: #161515;
}















/* @media (min-width:640px) {
    .card {
        grid-template-columns: repeat(4, 1fr);
    }

   
}

@media (min-width:768px) {
    .card {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width:992px) {

    
    /* .grid {
        padding: 20px 100px;
    } */

    
